*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #222831, #232D3F);
}

html {
    font-size: 16px;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option {
    background: #0F0F0F;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 10px;
    font-size: 12vmin;
    color: #EEEEEE;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 10px;
    background: #0f0f0f;
    color: #444;
    font-weight: 900;
    border: none;
    position: relative;
    margin: 1.5em auto auto;
    display: block;
    transition: 0.5s ease;
}

#restart:hover {
    background: #000;
    color: #fff;
    transform: scale(1.1);
}

.popup {
    background: linear-gradient(135deg, #222831, #232D3F);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
    font-weight: 900;

}

#new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background: #0f0f0f;
    color: #444;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
    font-weight: 900;
}
#new-game:hover {
    background: #000;
    color: #fff;
    transform: scale(1.1);
}

#message {
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.popup.hide {
    display: none;
}